<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<script src="/files/spark_df_profiling/js/jquery.min.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="/files/spark_df_profiling/css/bootstrap.min.css"
		crossorigin="anonymous">
		<link rel="stylesheet" href="/files/spark_df_profiling/css/bootstrap-theme.min.css"
          crossorigin="anonymous">
		<script src="/files/spark_df_profiling/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		</script>
	</head>
	<body>
    	{{ content }}
	</body>
</html>